{SECTION=proben}{:head.tmpl}
<h1>Proben und Auftritte 2014</h1>

<h3>2. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><td>Do</td><td>5. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Saint-Sa&euml;ns, Ravel (Streicher)</td></tr>
<tr><td>Do</td><td>12. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Mozart, Haydn (Streicher)</td></tr>
<tr><td>Do</td><td>26. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Haydn, Gossec (Streicher)</td></tr>
<tr><td>Do</td><td>3. Juli</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Pantalone (Streicher, Osy Zimmermann, Bl&auml;ser)</td></tr>
<tr><td colspan="5"></td></tr>
<tr><td>Di-Do</td><td>8.-10. Juli</td><td></td><td>Valganna</td>
    <td></td></tr>
<tr><td colspan="5"></td></tr>
<tr><td>Do</td><td>21. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Pantalone, Mozart Messe (Streicher)</td></tr>
<tr><td>Do</td><td>28. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Pantalone (Streicher, Osy Zimmermann, Bl&auml;ser)</td></tr>
<tr><td>Do</td><td>4. Sept</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Haydn, Mozart (Streicher, Osy Zimmermann, Bl&auml;ser)</td></tr>
<tr><td>Do</td><td>11. Sept</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Haydn, Mozart (Streicher, Osy Zimmermann, Bl&auml;ser, Amici</td></tr>
<tr><td><b>Sa</b></td><td>13. Sept</td><td><b>19:30</b></td>
    <td>Mythenpark</td>
    <td><b>Konzert Pantalone</b><br/>Vorprobe nach Ansage</td></tr>
<tr><td>Do</td><td>18. Sept</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Saint-Sa&euml;ns, Ravel (Streicher, Bl&auml;ser)</td></tr>
<tr><td><b>Sa</b></td><td>20. Sept</td><td><b>19:30</b></td>
    <td>Eichmatt H&uuml;nenberg</td>
    <td><b>Konzert Pantalone</b></td></tr>
<tr><td>Do</td><td>25. Sept</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Kontaktprobe mit Solisten, Bl&auml;ser ad lib.</td></tr>
<tr><td>Do</td><td>2. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Saint-Sa&euml;ns (Streicher, Bl&auml;ser ad lib.)</td></tr>
<tr><td>Do</td><td>9. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Haydn, Gossec</td></tr>
<tr><td>Do</td><td>16. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe nach Ansage</td></tr>
<tr><td>Do</td><td>23. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Saint-Sa&euml;ns, Ravel, Haydn, Gossec</td></tr>
<tr><th colspan="5">Probeweekend</th></tr>
<tr><td><b>Sa</b></td><td>25. Okt</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td>13:00 Ravel: alle<br/>
        14:00 Saint-Sa&euml;ns: mit Solisten<br/>
        16:00 Haydn, Gossec: Streicher, Oboen, H&ouml;rner, Fagott</td></tr>
<tr><td><b>So</b></td><td>26. Okt</td><td><b>09:30</b></td><td>Aula Sonnegg</td>
    <td>Mozart-Messe etc. (Streicher)</td></tr>
<tr><td colspan="5"</td></tr>
<tr><td><b>Mi</b></td><td>29. Okt</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Mozart-Messe (Streicher &amp; Chor)</td></tr>
<tr><td>Do</td><td>30. Okt</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Mozart-Messe (Streicher)</td></tr>
<tr><td><b>Sa</b></td><td>1. Nov</td><td><b>09:00</b></td>
    <td>Kirche Goldau</td>
    <td><b>Mozart-Messe</b> (Allerheiligen)</td></tr>
<tr><td>Do</td><td>6. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Haydn, Gossec (Streicher, Oboen, H&ouml;rner, Fagott)</td></tr>
<tr><td>Do</td><td>13. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Ravel, Saint-Sa&euml;ns (alle, mit Solisten)</td></tr>
<tr><td><b>Sa</b></td><td>15. Nov</td><td><b>13:00</b></td>
    <td>Kirche Goldau</td>
    <td>13:00 Haydn, Gossec (Streicher, Oboen, H&ouml;rner, Fagott)<br/>
        14:00 Ravel, Saint-Sa&euml;ns (alle, mit Solisten)</td></tr>
<tr><td><b>So</b></td><td>16. Nov</td><td><b>17:00</b></td>
    <td>Kirche Goldau</td>
    <td><b>Konzert 2014 Goldau</b><br/>Vorprobe: 15 Uhr</td></tr>
<tr><td>Do</td><td>20. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Kemptnermesse (Streicher)</td></tr>
<tr><td><b>So</b></td><td>23. Nov</td><td><b>17:00</b></td>
    <td>Kirche Ibach</td>
    <td><b>Konzert 2014 Ibach</b><br/>Vorprobe: 15 Uhr</td></tr>
<tr><td>Do</td><td>27. Nov</td><td colspan="3">keine Probe</td></tr>
<tr><td>Do</td><td>4. Dez</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Kemptnermesse (Streicher)</td></tr>
<tr><td>Do</td><td>11. Dez</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Kemptnermesse (Streicher)</td></tr>
<tr><td><b>Mi</b></td><td>17. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Kemptnermesse (Streicher &amp; Chor)</td></tr>
<tr><td>Do</td><td>18. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Kemptnermesse (Streicher &amp; Chor)</td></tr>
<tr><td><b>Mi</b></td><td>24. Dez</td><td><b>23:00</b></td>
    <td>Kirche Goldau</td>
    <td>Mitternachtsmesse</td></tr>
<tr><th colspan="5">Jahreswechsel</th></tr>
<tr><td>Do</td><td>22. Jan</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>1. Probe im neuen Jahr (Streicher)</td></tr>
</tbody>
</table>

<h3>1. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><td>Do</td><td>23. Jan</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>30. Jan</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>6. Feb</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>13. Feb</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>20. Feb</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>27. Feb</td><td colspan="3">keine Probe</td></tr>
<tr><td>Do</td><td>6. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>13. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>20. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>27. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>3. April</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Messe v. F&uuml;hrer, Konzert</td></tr>
<tr><td>Do</td><td>10. April</td><td>20:00</td><td><b>Kirche Goldau</b></td>
    <td>Messe v. F&uuml;hrer</td></tr>
<tr><td><b>Mi</b></td><td>16. April</td><td>20:00</td><td><b>Kirche Goldau</b></td>
    <td>Messe v. F&uuml;hrer</td></tr>
<tr><td>Do</td><td>24. April</td><td>20:00</td>
    <td colspan="2">Probe nach Ansage</td></tr>
<tr><td>Do</td><td>1. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td>Do</td><td>8. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td>Do</td><td>15. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td>Do</td><td>22. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td>Do</td><td>29. Mai</td><td colspan="3">keine Probe</td></tr>
<tr><td>Do</td><td>5. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td>Do</td><td>12. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td>Do</td><td>19. Juni</td><td colspan="3">keine Probe</td></tr>
<tr><td>Do</td><td>26. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td>Do</td><td>3. Juli</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td colspan="5">Sommerpause</td></tr>
<tr><td>Do</td><td>21. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Konzert</td></tr>
<tr><td colspan="5">40 Jahre IEG</td></tr>
<tr><td>Do</td><td>4. Sept</td><td>20:00</td>
    <td colspan="2">Hauptprobe</td></tr>
<tr><td>Do</td><td>11. Sept</td><td><b>19:00</b></td>
    <td colspan="2">Hauptprobe</td></tr>
<tr><td>Sa</td><td>13. Sept</td><td>19:30</td>
    <td colspan="2"><b>Konzert Goldau</b>, 18:00 Vorprobe</td></tr>
<tr><td>Sa</td><td>20. Sept</td><td>19:30</td>
    <td colspan="2"><b>Konzert H&uuml;nenberg</b>, 18:00 Vorprobe</td></tr>
<tr><td colspan="5">Jahreskonzert</td></tr>
<tr><td>So</td><td>16. Nov</td><td colspan="3">Konzert</td></tr>
<tr><td>So</td><td>23. Nov</td><td colspan="3">Konzert</td></tr>
</tbody>
</table>

{:foot.tmpl}
