{SECTION=proben}{:head.tmpl}
<h1>Probenplan 2010</h1>

<p><a href="#1">1. Semester</a>
 | <a href="#2">2. Semester</a>
 | <a href="#daten">Wichtige Daten</a></p>

<a name="2"></a>
<h3>2. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><th colspan="2">Datum</th><th>Zeit</th><th>Ort</th><th>Infos</th></tr>
<tr><td>Do</td><td>19. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Streicher</td></tr>
<tr><td>Do</td><td>26. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Kr&ouml;nungsmesse ohne Viola</td></tr>
<tr><td><b>Sa</b></td><td>28. Aug</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td>Kr&ouml;nungsmesse ohne Viola</td></tr>
<tr><td><b>Di</b></td><td>31. Aug</td><td>20:00</td><td>Kirche Arth</td>
    <td>Kr&ouml;nungsmesse</td></tr>
<tr><td><b>Mi</b></td><td>1. Sept</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Kr&ouml;nungsmesse</td></tr>
<tr><td>Do</td><td>2. Sept</td><td colspan="3">keine Probe</td></tr>
<tr><td><b>So</b></td><td>5. Sept</td><td><b>09:00</b></td><td>Kirche Goldau</td>
    <td>Kr&ouml;nungsmesse, <b>08:00</b> Vorprobe</td></tr>
<tr><td>Do</td><td>9. Sept</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher</td></tr>
<tr><td>Do</td><td>16. Sept</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher</td></tr>
<tr><td>Do</td><td>23. Sept</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher</td></tr>
<tr><td><b>Sa</b></td><td>25. Sept</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td><b>Probeweekend 1</b> bis ca 17:30</td></tr>
<tr><td>Do</td><td>30. Sept</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Streicher</td></tr>
<tr><td>Do</td><td>7. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Ferien: Probe nach Ansage</td></tr>
<tr><td>Do</td><td>14. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Ferien: Probe nach Ansage</td></tr>
<tr><td>Do</td><td>21. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Kr&ouml;nungsmesse ohne Viola</td></tr>
<tr><td><b>Sa</b></td><td>23. Okt</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td><b>Probeweekend 2</b> bis ca 19:00</td></tr>
<tr><td><b>So</b></td><td>24. Okt</td><td><b>10:30</b></td><td>Kirche Arth</td>
    <td>Kr&ouml;nungsmesse, <b>09:30</b> Vorprobe</td></tr>
<tr><td>Do</td><td>28. Okt</td><td>20:00</td><td>Foyer Rigi</td><td>Streicher</td></tr>
<tr><td>Do</td><td>4. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Streicher und Bl&auml;ser</td></tr>
<tr><td>Do</td><td>11. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Streicher und Bl&auml;ser</td></tr>
<tr><td><b>Sa</b></td><td>13. Nov</td><td><b>13:00</b></td><td>Kirche Goldau</td>
    <td>Hauptprobe bis 16:00</td></tr>
<tr><td><b>So</b></td><td>14. Nov</td><td>17:00</td><td>Kirche Goldau</td>
    <td><b>Konzert</b>, <b>15:00</b> Vorprobe</td></tr>
<tr><td><b>So</b></td><td>21. Nov</td><td>17:00</td><td>Kirche Ibach</td>
    <td><b>Konzert</b>, <b>15:00</b> Vorprobe</td></tr>
<tr><td>Do</td><td>25. Nov</td><td colspan="3">keine Probe</td></tr>
<tr><td>Do</td><td>2. Dez</td><td>20:00</td><td>Aula Sonnegg</td><td>Kemptnermesse</td></tr>
<tr><td>Do</td><td>9. Dez</td><td>20:00</td><td>Aula Sonnegg</td><td>Kemptnermesse</td></tr>
<tr><td>Do</td><td>16. Dez</td><td>20:00</td><td>Aula Sonnegg</td><td>Kemptnermesse</td></tr>
<tr><td><b>Mi</b></td><td>22. Dez</td><td>20:00</td><td>Kirche Goldau</td><td>Kemptnermesse</td></tr>
<tr><td>Do</td><td>23. Dez</td><td>20:00</td><td>Kirche Goldau</td><td>Kemptnermesse</td></tr>
<tr><td><b>Fr</b></td><td>24. Dez</td><td colspan="3">Mitternachtsmesse in Goldau</td></tr>



</tbody>
</table>

<a name="1"></a>
<h3>1. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><th colspan="2">Datum</th><th>Zeit</th><th>Ort</th><th>Infos</th></tr>
<tr><td>Do</td><td>14. Jan</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>21. Jan</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>28. Jan</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>4. Feb</td><td colspan="3">keine Probe</td></tr>
<tr><td>Do</td><td>11. Feb</td><td colspan="3">keine Probe (Schmutziger Donnerstag)</td></tr>
<tr><td>Do</td><td>18. Feb</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>25. Feb</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>4. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>11. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>18. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>25. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe: Johannesmesse, Halleluja</td></tr>
<tr><td><b>Mi</b></td><td>31. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td><b>So</b></td><td>4. April</td><td><b>08:30</b></td><td>Aula Sonnegg</td><td>Vorprobe, 09:30 Gottesdienst</td></tr>
<tr><td>Do</td><td>8. April</td><td colspan="3">keine Probe</td></tr>
<tr><td>Do</td><td>15. April</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>22. April</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>29. April</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>6. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>13. Mai</td><td colspan="3">keine Probe (Auffahrt)</td></tr>
<tr><td>Do</td><td>20. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>27. Mai</td><td colspan="3">keine Probe</td></tr>
<tr><td><b>Sa</b></td><td>29. Mai</td><td><b>13:00</b></td><td>Aula Sonnegg</td><td>Probe Serenade (bis ca 16:00)</td></tr>
<tr><td>Do</td><td>3. Juni</td><td colspan="3">keine Probe (Fronleichnam)</td></tr>
<tr><td>Do</td><td>10. Juni</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>17. Juni</td><td>20:00</td><td>Mythenpark</td><td>Hauptprobe Serenade</td></tr>
<tr><td><b>Sa</b></td><td>19. Juni</td><td><b>19:30</b></td><td>Mythenpark</td><td>Serenade</td></tr>
<tr><td>Do</td><td>24. Juni</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>1. Juli</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>8. Juli</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><th colspan="5">Sommerpause</td></tr>
<tr><td>Do</td><td>19. August</td><td colspan="3">Erste Probe nach Sommerpause</td></tr>
</tbody>
</table>

<a name="daten"></a>
<h3>Weitere Daten</h3>

<p><b>Kr&ouml;nungsmesse:</b><br>
 Di, 31. August, Hauptprobe Kirche Arth,<br>
 Mi, 1. September, Hauptprobe Kirche Goldau,<br>
 So, 5. September, 09:00 Messe in Goldau (08:00 Vorprobe)<br>
 So, 24. Oktober, 10:30 Messe in Arth (09:30 Vorprobe)</p>

<p><b>Probeweekend:</b><br>
 Sa, 23. Oktober, 13:00 bis 19:00</br>
 So, 24. Oktober, 13:30 bis 16:30</p>

<p><b>Hauptprobe Konzert:</b><br>
 Do, 4. November<br>
 Do, 11. November<br>
 Sa, 13. November</p>

<p><b>Konzert:</b><br>
 So, 14. November, Kirche Goldau<br>
 So, 21. November, Kirche Ibach</p>

{:foot.tmpl}
