{SECTION=proben}{:head.tmpl}
<h1>Proben und Auftritte 2019</h1>

<p><a href="#1st">1. Semester 2019</a>
 | <a href="#2nd">2. Semester 2019</a>
 | <a href="#preview">Termine 2019</a></p>


<h3>Vorschau 2020</h3>
<p>Konzerte: 15. und 22. November 2020<br>
Hauptproben: 12. und 14. November 2020<br>
Probeweekend: 18./19. Oktober 2020</p>


<h3 id="2nd">2. Semester</h3>

<table class="schedule">
<tbody>
<tr><td>Do</td><td>22. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Zelenka, Alma Dei, Boieldieu</td></tr>
<tr><td><b>Mi</b></td><td>28. Aug</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Zelenka, Alma Dei</td></tr>
<tr><td><b>Fr</b></td><td>30. Aug</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Zelenka, Alma Dei</td></tr>
<tr><td><b>So</b></td><td> 1. Sep</td><td>09:00</td><td>Kirche Goldau</td>
    <td><b>Chilbi</b> (Vorprobe <b>08:00</b>)</td></tr>
<tr><td colspan="5" class="sep"></td></tr>
<tr><td>Do</td><td> 5. Sep</td><td>20:00</td><td>Aula Sonnegg</td> 
    <td>Boieldieu, Schumann, Loewe 1. Satz (Str)</td></tr>
<tr><td>Do</td><td>12. Sep</td><td>20:00</td><td>Aula Sonnegg</td> 
    <td>Loewe (Str, Fl, Kla, Horn)</td></tr>
<tr><td>Do</td><td>19. Sep</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Diverses (Str)</td></tr>
<tr><td><b>Sa</b></td><td>21. Sep</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td>Boieldieu, Loewe, Schumann (Str, bis ca 16:00)</td></tr>
<tr><td>Do</td><td>26. Sep</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Schumann (Solist und Str)</td></tr>
<tr><td>Do</td><td> 3. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Loewe, Schumann (Tuttistellen)</td></tr>
<tr><td>Do</td><td>10. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Boieldieu, Loewe (Str)</td></tr>
<tr><td>Do</td><td>17. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Schumann, Loewe (Str)</td></tr>
<tr><td colspan="5" class="sep"></td></tr>
<tr><th colspan="5">Probeweekend</th></tr>
<tr><td><b>Sa</b></td><td>19. Okt</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td>Boieldieu, Schumann, Loewe (Solist, Tutti, bis 18:00)</td></tr>
<tr><td><b>So</b></td><td>20. Okt</td><td><b>09:30</b></td><td>Aula Sonnegg</td>
    <td>Streicher (bis ca 12:30)</td></tr>
<tr><td colspan="5" class="sep"></td></tr>
<tr><td>Do</td><td>24. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Boieldieu, Loewe, Schumann (alle)</td></tr>
<tr><td>Do</td><td>31. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Schumann, ev. Loewe (Solist, alle)</td></tr>
<tr><td>Do</td><td> 7. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Loewe, Boieldieu (alle)</td></tr>
<tr><td colspan="5" class="sep"></td></tr>
<tr><th colspan="5">Konzerte</th></tr>
<tr><td><b>Sa</b></td><td> 9. Nov</td><td><b>13:00</b></td><td>Kirche Goldau</td>
    <td>Hauptprobe (bis 16:00)</td></tr>
<tr><td><b>So</b></td><td>10. Nov</td><td>17:00</td><td>Kirche <b>Goldau</b></td>
    <td><b>Konzert</b> (Einspielen <b>15:00</b>)</td></tr>
<tr><td><b>So</b></td><td>17. Nov</td><td>17:00</td><td>Kirche <b>Ibach</b></td>
    <td><b>Konzert</b> (Einspielen <b>15:00</b>)</td></tr>
<tr><td colspan="5" class="sep"></td></tr>
<tr><td>Do</td><td>21. Nov</td><td colspan="3"><i>keine Probe</i></td></tr>
<tr><td>Do</td><td>28. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Hirtenmesse Ryba</td></tr>
<tr><td>Do</td><td> 5. Dez</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>(wenn n&ouml;tig)</td></tr>
<tr><td>Do</td><td>12. Dez</td><td>20:00</td><td>Aula Sonnegg</td>
    <td></td></tr>
<tr><td><b>Mi</b></td><td>18. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td></td></tr>
<tr><td>Do</td><td>19. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td></td></tr>
<tr><td><b>Di</b></td><td>24. Dez</td><td>23:00</td><td>Kirche Goldau</td>
    <td>Weihnachtsmesse (Einspielen <b>22:00</b>)</td></tr>
<tr><td colspan="5" class="sep"></td></tr>
<tr><td>Do</td><td>23. Jan</td><td colspan="3">Probenbeginn</td></tr>
</tbody>
</table>

<p>&nbsp;</p>
<hr>

<p>&nbsp;</p>
<h3 id="1st">1. Semester 2019</h3>

<table class="schedule">
<tbody>
<tr><td>Do</td><td>21. Feb.</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>28. Feb.</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>7. März</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>14. März</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>21. März</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>28. März</td><td>20:00</td><td>Mehrzweckraum</td>
  <td></td></tr>
<tr><td>Do</td><td>4. April</td><td>20:00</td><td>Mehrzweckraum</td>
  <td></td></tr>
<tr><td>Do</td><td>11. April</td><td>20:00</td><td>Kirche Goldau</td>
  <td>Mozart Kr&ouml;nungsmesse, Alma Dei, Halleluja</td></tr>
<tr><td><b>Mi</b></td><td>17. April</td><td>20:00</td><td>Kirche Goldau</td>
  <td></td></tr>
<tr><td><b>So</b></td><td>21. April</td><td>09:00</td><td>Kirche Goldau</td>
  <td><b>Ostern</b>, Vorprobe <b>08:00</b></td></tr>
<tr><td>Do</td><td>25. April</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>2. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>9. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>16. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>23. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>30. Mai</td><td colspan="3"><i>Auffahrt</i></td></tr>
<tr><td>Do</td><td>6. Juni</td><td colspan="3"><i>keine Probe</i></td></tr>
<tr><td>Do</td><td>13. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>20. Juni</td><td colspan="3"><i>Fronleichnam</i></td></tr>
<tr><td>Do</td><td>27. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td>Do</td><td>4. Juli</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><th colspan="5">Sommerpause</th></tr>
<tr><td>Do</td><td>22. Aug.</td><td>20:00</td><td>Aula Sonnegg</td>
  <td></td></tr>
<tr><td><b>Mi</b></td><td>28. Aug.</td><td>20:00</td><td>Kirche Goldau</td>
  <td>Zelenka, Mozart Alma Dei</td></tr>
<tr><td>Do</td><td>29. Aug.</td><td>20:00</td><td>Kirche Goldau</td>
  <td></td></tr>
<tr><td><b>So</b></td><td>1. Sept.</td><td>09:00</td><td>Kirche Goldau</td>
  <td><b>Chilbi</b>, Vorprobe <b>08:00</b></td></tr>
</tbody>
</table>

<p>&nbsp;</p>
<hr>

<h3 id="preview">Termine 2019</h3>

<h4>Kirche</h4>

<p><b>Ostern:</b><br>
Sonntag, 21. April 2019, Kirche Goldau, 09:00 Uhr (Vorprobe 08:00 Uhr)<br>
Proben mit Chor: Do 11.4. und Mi 17.4., jeweils 20:00 Uhr Kirche Goldau</p>

<p><b>Chilbi:</b><br>
Sonntag, 1. September 2019, Kirche Goldau, 09:00 Uhr (Vorprobe 08:00 Uhr)<br>
Proben mit Chor: Mi 28.8. und Do 29.8., jeweils 20:00 Uhr Kirche Goldau</p>

<p><b>Weihnachten</b> (Mitternachtsmesse):<br>
Dienstag, 24. Dezember 2019, Kirche Goldau, 23:00 Uhr (Vorprobe 22:00 Uhr)<br>
Proben mit Chor: Mi 18.12. und Do 19.12., jeweils 20:00 Kirche Goldau</p>

<h4>Konzert</h4>

<p><b>Konzert Goldau:</b><br>
Sonntag, 10. November 2019, 17:00 Uhr (Einspielen 15:00 Uhr)</p>
<p><b>Konzert Ibach:</b><br>
Sonntag, 17. November 2019, 17:00 Uhr (Einspielen 15:00 Uhr)</p>
<p><b>Probeweekend:</b><br>
Samstag, 19. Oktober 2019, 13:00 bis ca. 18:30 Uhr, Aula Sonnegg<br>
Sonntag, 20. Oktober 2019, 09:00 bis ca. 13:00 Uhr, Aula Sonnegg</p>
<p><b>Hauptprobe:</b><br>
Donnerstag, 7. November 2019, 20:00 Uhr, Aula Sonnegg<br>
Samstag, 9. November 2019, 13:00 bis 16:00 Uhr, Kirche Goldau</p>

<h4>Valganna</h4>

<p><b>Streicher-Weekend</b> in Valganna (I):<br>
6.-8. September 2019</p>

{:foot.tmpl}
