{SECTION=proben}{:head.tmpl}
<h1>Probenplan 2009</h1>

<h3>Wichtige Daten</h3>

<p><b>Probeweekend:</b><br>
 Sa, 24. Oktober, 13:30, Aula Sonnegg und<br>
 So, 25. Oktober, 09:30, Aula Sonnegg.</p>

<p><b>Hauptproben:</b><br>
 Sa, 7. November, 13:00, Kirche Goldau und<br>
 Do, 12. November, 20:00, Aula Sonnegg.</p>

<p><b>Konzerte:</b><br>
 Sa, 14. November, 20:00, Kirche Ibach und<br>
 So, 15. November, 17:00, Kirche Goldau.</p>

<p><b>Weihnachten/Neujahr:</b><br>
 Do, 24. Dezember, 23:00, Kirche Goldau (22:00 Vorprobe) und<br>
 So, 3. Januar 2010, 09:00, Kirche Goldau (08:00 Vorprobe).</p>

<h3>2. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><th colspan="2">Datum</th><th>Zeit</th><th>Ort</th><th>Infos</th></tr>
<tr><td>Do</td><td>10. Sep</td><td>20:00</td><td>Aula Sonnegg</td><td>Solistin, Streicher (Herrmann)</td></tr>
<tr><td>Do</td><td>17. Sep</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher (Haydn, Glinka)</td></tr>
<tr><td>Do</td><td>24. Sep</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher, Bl&auml;ser (Haydn)</td></tr>
<tr><td>Do</td><td>1. Okt</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher, Bl&auml;ser (Haydn)</td></tr>
<tr><td>Do</td><td>8. Okt</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>15. Okt</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>22. Okt</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher (Hermann, Glinka)</td></tr>
<tr><th colspan="5">Probeweekend</td></tr>
<tr><td>Sa</td><td>24. Okt</td><td>13:30</td><td>Aula Sonnegg</td><td>bis ca 19 Uhr</td></tr>
<tr><td>So</td><td>25. Okt</td><td>09:30</td><td>Aula Sonnegg</td><td>bis ca 13 Uhr</td></tr>
<tr><th colspan="5">Regul&auml;re Proben</td></tr>
<tr><td>Do</td><td>29. Okt</td><td>20:00</td><td>Aula Sonnegg</td><td>Solistin, Streicher, Bl&aulm;ser</td></tr>
<tr><td>Do</td><td>5. Nov</td><td>20:00</td><td>Aula Sonnegg</td><td>Streicher (Glinka)</td></tr>
<tr><th colspan="5">Hauptproben</td></tr>
<tr><td>Sa</td><td>7. Nov</td><td>13:00</td><td>Kirche Goldau</td><td></td></tr>
<tr><td>Do</td><td>12. Nov</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><th colspan="5">Konzerte</td></tr>
<tr><td>Sa</td><td>14. Nov</td><td>20:00</td><td>Kirche Ibach</td><td><b>18:15 Einspielen</b></td></tr>
<tr><td>So</td><td>15. Nov</td><td>17:00</td><td>Kirche Goldau</td><td><b>15:30 Einspielen</b></td></tr>
<tr><th colspan="5">Weihnachtsproben</td></tr>
<tr><td>Do</td><td>19. Nov</td><td colspan="2">Keine Probe</td><td></td></tr>
<tr><td>Do</td><td>26. Nov</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>3. Dez</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>10. Dez</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>17. Dez</td><td>20:00</td><td>Kirche Goldau</td><td></td></tr>
<tr><td>Mi</td><td>23. Dez</td><td>20:00</td><td>Kirche Goldau</td><td></td></tr>
<tr><th colspan="5">Gottesdienste</td></tr>
<tr><td>Do</td><td>24. Dez</td><td>23:00</td><td>Kirche Goldau</td><td><b>22:00 Vorprobe</b></td></tr>
<tr><td>So</td><td>3. Jan</td><td>09:00</td><td>Kirche Goldau</td><td><b>08:00 Vorprobe</b></td></tr>
</tbody>
</table>

<a name="1"></a>
<h3>1. Semester</h3>
<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><th colspan="2">Datum</th><th>Zeit</th><th>Ort</th><th>Infos</th></tr>
<tr><td>Do</td><td>19. Feb</td><td colspan="2">keine Probe</td><td></td></tr>
<tr><td>Do</td><td>26. Feb</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>5. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>12. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>19. M&auml;rz</td><td colspan="2">keine Probe</td><td></td></tr>
<tr><td>Do</td><td>26. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>2. April</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>9. April</td><td colspan="2">keine Probe</td><td></td></tr>
<tr><td>Do</td><td>16. April</td><td colspan="2">keine Probe</td><td></td></tr>
<tr><td>Do</td><td>23. April</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>30. April</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>7. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>14. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>21. Mai</td><td colspan="2">keine Probe</td>
 <td>Himmelfahrt</td></tr>
<tr><td>Do</td><td>28. Mai</td><td>20:00</td><td>Foyer Schulhaus nebenan</td><td></td></tr>
<tr><td>Do</td><td>4. Juni</td><td colspan="2">keine Probe</td><td></td></tr>
<tr><td><b>Sa</b></td><td>6. Juni</td><td><b>13:30-16:00</b></td>
 <td>Aula Sonnegg</td><td><b>Kr&ouml;nungsmesse</b></td></tr>
<tr><td>Do</td><td>11. Juni</td><td colspan="2">keine Probe</td>
 <td>Fronleichnam</td></tr>
<tr><td>Do</td><td>18. Juni</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>25. Juni</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td><b>So</b></td><td>28. Juni</td><td><b>15:00</b></td>
 <td><b>Hofmatt, Arth</b></td><td>Nachmittagskonzert</td></tr>
<tr><td>Do</td><td>2. Juli</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td colspan="5"><b>Sommerpause</b></td></tr>
<tr><td>Do</td><td>20. Aug</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td>Do</td><td>27. Aug</td><td>20:00</td><td>Aula Sonnegg</td><td></td></tr>
<tr><td><b>Sa</b></td><td>29. Aug</td><td><b>13:30-16:00</b></td>
 <td>Aula Sonnegg</td><td><b>Kr&ouml;nungsmesse</b></td></tr>
<tr><td><b>Mi</b></td><td>2. Sept</td><td>20:00</td><td>Kirche Goldau</td>
 <td>Kr&ouml;nungsmesse</td></tr>
<tr><td>Do</td><td>3. Sept</td><td>20:00</td><td>Kirche Goldau</td>
 <td>Kr&ouml;nungsmesse</td></tr>
<tr><td><b>So</b></td><td>6. Sept</td><td>ev <b>09:00</b></td><td>Kirche Goldau</td>
 <td><b>Festgottesdienst</b></td></tr>
</tbody>
</table>

<h3>Weitere Daten</h3>
<p>Sa/So 24./25. Oktober: Probeweekend, Aula Sonnegg</p>
<p>Sa 7. November: Hauptprobe Konzert, Kirche Goldau, 13:00 bis 16:00</p>
<p>Do 12. November: Probe Konzert, Aula Sonnegg, 20:00 Uhr</p>
<p>Sa 14. November, 20 Uhr: Konzert Kirche Ibach</p>
<p>So 15. November, 20 Uhr: Konzert Kirche Goldau</p>
<p>Mi 23. Dezember: B&ouml;mische Hirtenmesse, Kirche Goldau</p>

{:foot.tmpl}
