{SECTION=proben}{:head.tmpl}
<h1>Proben und Auftritte 2012</h1>

<h3>Vorschau 2013</h3>

<table border="0" cellspacing="2" cellpadding="4">
<tr><td>Probeweekend:</td><td>Sa/So 26/27. Oktober</td></tr>
<tr><td>Hauptprobe:</td><td>Sa, 9. November</td></tr>
<tr><td>Konzert Goldau:</td><td>So, 10. November, 17:00, Vorprobe 15:00</td></tr>
<tr><td>Konzert Ibach:</td><td>So, 17. November, 17:00, Vorprobe 15:00</td></tr>
</table>

<h3>2. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><td>Do</td><td>23. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Spatzenmesse</td></tr>
<tr><td><b>Mi</b></td><td>29. Aug</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Spatzenmesse; mit Chor</td></tr>
<tr><td>Do</td><td>30. Aug</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Mendelssohn, Meyerbeer</td></tr>
<tr><th colspan="5"/></tr>
<tr><td><b>So</b></td><td>2. Sep</td><td>08:00<br/>09:00</td><td>Kirche Goldau</td>
    <td>Vorprobe<br/><b>Spatzenmesse</b></td></tr>
<tr><th colspan="5"/></tr>
<tr><td>Do</td><td>6. Sep</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Reinecke etc</td></tr>
<tr><td>Do</td><td>13. Sep</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Mendelssohn, Meyerbeer; *Bl&auml;ser</td></tr>
<tr><td>Do</td><td>20. Sep</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Reinecke, Mendelssohn; *Bl&auml;ser</td></tr>
<tr><td>Do</td><td>27. Sep</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Reinecke, Mendelssohn; *Bl&auml;ser</td></tr>
<tr><td><b>Sa</b></td><td>29. Sep</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td>Reinecke; mit Solistin, *Bl&auml;ser</td></tr>
<tr><td colspan="5">* Wer kann ist willkommen!</td></tr>
<tr><td>Do</td><td>4. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Streicher</td></tr>
<tr><td>Do</td><td>11. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe nach Ansage</td></tr>
<tr><td>Do</td><td>18. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Reinecke, Mendelssohn; mit Bl&auml;sern</td></tr>
<tr><td>Do</td><td>25. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Meyerbeer etc</td></tr>
<tr><th colspan="5"></th></tr>
<tr><td><b>Sa</b></td><td>27. Okt</td><td><b>13:00</b></td><td>Aula Sonnegg</td>
    <td>Probeweekend: Reinecke, Mendelssohn (bis 19:00)</td></tr>
<tr><td><b>So</b></td><td>28. Okt</td><td><b>09:30</b></td><td>Aula Sonnegg</td>
    <td>Probeweekend: Meyerbeer (bis 12:30)</td></tr>
<tr><th colspan="5"></th></tr>
<tr><td>Do</td><td>1. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Mendelssohn, Meyerbeer; mit Solistinnen und Bl&auml;sern</td></tr>
<tr><td>Do</td><td>8. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Reinecke, Meyerbeer; mit Solistinnen und Bl&auml;sern</td></tr>
<tr><td><b>Sa</b></td><td>10. Nov</td><td><b>13:00</b></td><td>Kirche Goldau</td>
    <td>Hauptprobe (bis 16:00)</td></tr>
<tr><th colspan="5"></th></tr>
<tr><td><b>So</b></td><td>11. Nov</td><td>15:00<br/>17:00</td><td>Kirche Goldau</td>
    <td>Vorprobe<br/><b>Konzert</b></td></tr>
<tr><td><b>So</b></td><td>18. Nov</td><td>15:00<br/>17:00</td><td>Kirche Ibach</td>
    <td>Vorprobe<br/><b>Konzert</b></td></tr>
<tr><th colspan="5"></th></tr>
<tr><td>Do</td><td>22. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Riba etc</td></tr>
<tr><td>Do</td><td>29. Nov</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Riba etc</td></tr>
<tr><td>Do</td><td>6. Dez</td><td colspan="3">Keine Probe</td></tr>
<tr><td>Do</td><td>13. Dez</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Riba etc</td></tr>
<tr><td><b>Mi</b></td><td>19. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Riba; mit Chor</td></tr>
<tr><td>Do</td><td>20. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Riba; mit Chor</td></tr>
<tr><td><b>Mo</b></td><td>24. Dez</td><td>22:00<br/>23:00</td><td>Kirche Goldau</td>
    <td>Vorprobe<br/><b>Mitternachtsmesse</b></td></tr>
<tr><th colspan="5"></th></tr>
<tr><td>Do</td><td>10. Jan</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Erste Probe im neuen Jahr</td></tr>
</tbody>
</table>

<h3>1. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><th colspan="3">Ostern</th>
    <th colspan="2">Vivaldi: Gloria</th></tr>
<tr><td>Do</td><td>16. Feb</td>
    <td colspan=3>Keine Probe (Schmutziger Donnerstag)</td>
<tr><td>Do</td><td>23. Feb</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>1. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>8. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>15. M&auml;rz</td>
    <td colspan=3>Keine Probe</td>
<tr><td>Do</td><td>22. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>29. M&auml;rz</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td><b>Mi</b></td><td>4. April</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td><b>So</b></td><td>8. April</td><td>09:00</td><td>Kirche Goldau</td>
    <td>Vorprobe</td></tr>
<tr><td></td><td></td><td>10:00</td><td>Kirche Goldau</td>
    <td><b>Ostergottesdienst</b></td></tr>
<tr><td colspan="5"></td></tr>
<tr><th colspan="3">Pfingsten</th>
    <th colspan="2">Purcell: Te Deum</th></tr>
<tr><td>Do</td><td>12. April</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>19. April</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>26. April</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>3. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>10. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>17. Mai</td>
    <td colspan="3">Keine Probe (Christi Himmelfahrt)</td></tr>
<tr><td><b>Mi</b></td><td>23. Mai</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>24. Mai</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td><b>So</b></td><td>27. Mai</td><td>08:30</td><td>Kirche Goldau</td>
    <td>Vorprobe</td></tr>
<tr><td></td><td></td><td>09:30</td><td>Kirche Goldau</td>
    <td><b>Pfingstgottesdienst</b></td></tr>
<tr><td colspan="5"></td></tr>
<tr><th colspan="3">Chilbi</th>
    <th colspan="2">Mozart: Spatzenmesse</th></tr>
<tr><td>Do</td><td>31. Mai</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>7. Juni</td>
    <td colspan="3">Keine Probe (Fronleichnam)</td></tr>
<tr><td>Do</td><td>14. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>21. Juni</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td><b>Mi</b></td><td>27. Juni</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>5. Juli</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td colspan="5">Ferien</td></tr>
<tr><td>Do</td><td>23. August</td><td>20:00</td><td>Aula Sonnegg</td>
    <td>Probe</td></tr>
<tr><td><b>Mi</b></td><td>29. August</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td><b>So</b></td><td>2. Sept.</td><td>08:00</td><td>Kirche Goldau</td>
    <td>Vorprobe</td></tr>
<tr><td></td><td></td><td>09:00</td><td>Kirche Goldau</td>
    <td><b>Chilbigottesdienst</b></td></tr>
<tr><td colspan="5"></td></tr>
<tr><th colspan="3">Weihnachten</th>
    <th colspan="2">Kronsteiner: Messe Stille Nacht</th></tr>
<tr><td>Mi</td><td>19. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td>Do</td><td>20. Dez</td><td>20:00</td><td>Kirche Goldau</td>
    <td>Probe</td></tr>
<tr><td>Mo</td><td>24. Dez</td><td>22:00</td><td>Kirche Goldau</td>
    <td>Vorprobe</td></tr>
<tr><td></td><td></td><td>23:00</td><td>Kirche Goldau</td>
    <td><b>Weihnachtsmesse</b></td></tr>
</tbody>
</table>

{:foot.tmpl}
