{SECTION=proben}{:head.tmpl}
<h1>Probenplan 2011</h1>

<p><a href="#1">1. Semester</a>
 | <a href="#2">2. Semester</a>
 | <a href="#daten">Wichtige Daten</a></p>

<a name="2"></a>
<h3>2. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><th colspan="2">Datum</th><th>Zeit</th><th>Ort</th><th>Infos</th></tr>
<tr><td>Do</td><td>25. Aug</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td> 1. Sep</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td> 8. Sep</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>15. Sep</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>22. Sep</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe, mit Kurt</td></tr>
<tr><td><b>Sa</b></td><td>24. Sep</td><td><b>13:00</b></td><td>Aula
 Sonnegg</td><td>Probe, mit Nicole</td></tr>
<tr><td>Do</td><td>29. Sep</td><td>20:00</td><td>Aula Sonnegg</td>
 <td>Probe</td></tr>
<tr><td>Do</td><td> 6. Okt</td><td colspan="3">Ferien,
 Probe nach Ansage</td></tr>
<tr><td>Do</td><td>13. Okt</td><td colspan="3">Ferien,
 Probe nach Ansage</td></tr>
<tr><td>Do</td><td>20. Okt</td><td>20:00</td><td>Aula Sonnegg</td>
 <td>Probe Allerheiligen</td></tr>
<tr><td><b>Mi</b></td><td>26. Okt</td><td>20:00</td>
 <td><b>Kirche Goldau</b></td><td>Probe Allerheiligen</td></tr>
<tr><td><b>Sa</b></td><td>29. Okt</td><td><b>13:00</b></td> 
 <td>Aula Sonnegg</td><td><b>Weekend</b> bis 19:00, mit Nicole</td></tr>
<tr><td><b>So</b></td><td>30. Okt</td><td><b>09:30</b></td>
 <td>Aula Sonnegg</td><td><b>Weekend</b> bis 13:00, mit Kurt</td></tr>
<tr><td><b>Di</b></td><td> 1. Nov</td><td><b>09:00</b></td>
 <td><b>Kirche Goldau</b></td><td>Allerheiligen</td></tr>
<tr><td>Do</td><td> 3. Nov</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe, mit Kurt</td></tr>
<tr><td>Do</td><td>10. Nov</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe, mit Nicole</td></tr>
<tr><td><b>Sa</b></td><td>12. Nov</td><td><b>13:00</b></td>
 <td><b>Kirche Goldau</b></td><td>Hauptprobe</td></tr>
<tr><td><b>So</b></td><td>13. Nov</td><td>17:00</td><td><b>Kirche
 Goldau</b></td><td><b>Konzert</b>, Vorprobe <b>15:00</b></td></tr>
<tr><td><b>So</b></td><td>20. Nov</td><td>17:00</td><td><b>Kirche
 Ibach</b></td><td><b>Konzert</b>, Vorprobe <b>15:00</b></td></tr>
<tr><td>Do</td><td>24. Nov</td><td>20:00</td><td>Aula
 Sonnegg</td><td>Probe</td></tr>
</tbody>
</table>

<a name="1"></a>
<h3>1. Semester</h3>

<table border="0" cellspacing="2" cellpadding="4" class="gray">
<tbody>
<tr><th colspan="2">Datum</th><th>Zeit</th><th>Ort</th><th>Infos</th></tr>
<tr><td>Do</td><td>13. Jan</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>20. Jan</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>27. Jan</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td> 4. Feb</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>10. Feb</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>17. Feb</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>24. Feb</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>10. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>17. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>24. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>31. M&auml;rz</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td> 7. April</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>14. April</td><td>20:00</td><td>Kirche Goldau</td>
 <td>Orgelsolomesse Mozart<br>Halleluja H&auml;ndel</td></tr>
<tr><td><b>Mi</b></td><td>20. April</td><td>20:00</td><td>Kirche Goldau</td>
 <td>Selbiges</td></tr>
<tr><td><b>So</b></td><td>24. April</td><td></td><td>Kirche Goldau</td>
 <td><b>Gottesdienst</b>, Vorprobe 9:00 Uhr</td></tr>
<tr><td>Do</td><td>28. April</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>5. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>12. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>19. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>26. Mai</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td><b>Mi</b></td><td>8. Juni</td><td>20:00</td><td>Kirche Goldau</td>
 <td>Messe aus dem Schweizerpsalm<br>A. Zwissig</td></tr>
<tr><td>Do</td><td>9. Juni</td><td>20:00</td><td>Kirche Goldau</td><td>Selbiges</td></tr>
<tr><td><b>So</b></td><td>12. Juni</td><td></td><td>Kirche Goldau</td>
 <td><b>Gottesdienst</b>, Vorprobe 9:00 Uhr</td></tr>
<tr><td>Do</td><td>16. Juni</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td>30. Juni</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
<tr><td>Do</td><td> 7. Juli</td><td>20:00</td><td>Aula Sonnegg</td><td>Probe</td></tr>
</tbody>
</table>

<a name="daten"></a>
<h3>Wichtige Daten</h3>

<p><b>Ostern:</b><br>
Orgelsolomesse, 24. April,<br>
Proben dazu, 14. und 20. April.</p>

<p><b>Pfingsten:</b><br>
Zwissig Schweizerpsalm, 12. Juni,<br>
Probe dazu, 8./9. Juni.</p>

<p><b>Allerheiligen:</b><br>
Mendelssohn, 1. November,<br>
Probe dazu, 26. Oktober.</p>

<p><b>Konzerte:</b><br>
Goldau, 13. November,<br>
Ibach, 20. November,<br>
Weekend, 29./30. Oktober.</p>

<p><b>Weihnachten:</b><br>
Kempter messe in C, 24. Dezember,<br>
Proben dazu, 21./22. Dezember.</p>

<p><b>Kloster Frauenthal:</b><br>
Probe mit Chor, Sa 28. Januar, 13:00,<br>
Gottesdienst, So, 29. Januar, 09:00 (kurzes Einstimmen).</p>

{:foot.tmpl}
