{SECTION=auf}{:head.tmpl}
<h1>Auftritte des IEG</h1>

<p>Ostern, 31. März 2024, Kirche Goldau<br>
Mozarts <span class="what">Missa brevis in G</span> (KV49, seine erste
vollständige Messevertonung, geschrieben im Alter von 12 Jahren, siehe
<a href="https://en.wikipedia.org/wiki/Mass_in_G_major,_K._49">Wikipedia</a>)
und natürlich das <span class="what">Halleluja</span> aus Händels
<i>Messias</i>) mit dem Kirchenchor Goldau unter der Leitung von
Esther Rickenbach und mit Rita Weber-Lehn an der Orgel (zum Auszug:
Toccata in h von Eugène Gigout).</p>

<hr>

<p>Weihnachten, 25. Dezember 2023, Kirche Goldau<br>
Kirchenchor und Instrumentalensemble Goldau interpretieren die
<span class="what">Pastoralmesse</span> in G-Dur von Karl Kempter.</p>

<hr>

<p>17. April 2022, Kirche Goldau<br>
Zur <span class="what">Ostermesse</span> in der Kirche Goldau
spielten wir mit dem Kirchenchor Goldau Mozarts <i>Missa brevis</i>
(KV259) und nat&uuml;rlich H&auml;ndels <i>Hallelujah</i>.</p>

<p>2. Januar 2022, Kirche Oberarth<br>
<a href="https://www.ref-arth-goldau.ch/veranstaltung/1359">Wort
&amp; Musik zum Neujahr</a> in der ref. Kirche Oberarth mit Pfarrer
Urs Heiniger und dem Instrumentalensemble.</p>

<hr>

<p>Bedingt durch das Corona-Virus sind diverse geplante
Veranstaltungen im Jahr 2020 <b>ausgefallen:</b></p>
<p>Jahreskonzerte, 15. und 22. November, Ouverture in D-Dur
von Muzio Clementi, der Sinfonie in C-Dur von Josef Elsner,
sowie dem Harfen-Konzert op. 34 von Elias Parish Alvars mit
Lindsay Buffington an der Harfe.
<a href="archiv/jk2020-flyer.pdf">Programm</a> und
<a href="archiv/SchutzkonzeptCOVID19.pdf">Schutzkonzept CoVID-19</a>.</p>
<p>Chilbimesse, 6. September, mit dem Kirchenchor Goldau:
von Mozart die Messe in G (KV140) und das Alma Dei (KV277).</p>
<p>Ostermesse, 12. April, mit Kirchenchor Goldau.</p>

<hr>

<p>24. Dezember 2019, Kirche Goldau<br>
Zur <span class="what">Christmette</span> spielt das IEG mit dem
Kirchenchor die <i>Böhmische Hirtenmesse</i> von Jakub Jan Ryba
(1765-1815).</p>

<p>10. November 2019, Kirche Goldau<br>
17. November 2019, Kirche Ibach<br>
Zum <span class="what">Jahreskonzert 2019</span> spielt das IEG
die Ouverture zur <i>Op&eacute;ra comique &ldquo;Jean de Paris&rdquo;</i>
(1812) von Fran&ccedil;ois-Adrien Boieldieu,
als schweizerische Erstauff&uuml;hrung die <i>Symphonie &#x2116; 2</i>
in e-moll (1832) von Carl Loewe (1796-1869), sowie
das Cellokonzert in a-moll op. 129 (1850) von Robert Schumann
mit <span class="who">Andreas Ochsner</span> am Cello.
Zugabe: <i>El Cant dels Ocells</i>, katalonisches Weihnachtslied,
notiert von Pablo Casals, arrangiert von James Strauss.
<a href="archiv/jk2019-flyer.pdf">Programm</a> &sdot;
<a href="press/20191114-rigipost.pdf">Rezension in der Rigipost</a></p>

<p>1. September 2019, Kirche Goldau<br>
Am Festgottesdienst zur <span class="what">Chilbi</span> (Kirchweihe)
interpretieren der Kirchenchor Goldau und das IEG die
<i>Missa gratias agimus tibi</i> in D von Jan Dismas Zelenka.</p>
<!--Kyrie (1), Gloria (2, 4-7), Laudamus te (3), Sanctus (12),
    Agnus (15-17), Benedictus (13), Osanna (14)-->

<p>21. April 2019, Kirche Goldau<br>
Das IEG spielt mit dem Kirchenchor zur
<span class="what">Ostermesse</span> in Goldau
aus der <i>Kr&ouml;nungsmesse</i> (KV317) und das
Offertorium <i>Alma Dei creatoris</i> (KV277) von Mozart,
sowie H&auml;ndels <i>Halleluja</i> (HWV56).</p>

<hr>

<p>24. Dezember 2018, Kirche Goldau<br>
Das IEG begleitet mit dem Kirchenchor Goldau die
<span class="what">Mitternachtsmesse</span>
(Kempter).</p>

<p>11. November 2018, Kirche Goldau<br>
18. November 2018, Kirche Ibach<br>
Zum <span class="what">Jahreskonzert 2018</span> spielt das IEG
die Ouvert&uuml;re zu Franz Schubert's Singspiel <i>Der h&auml;usliche
Krieg</i> (auch bekannt als <i>Die Verschworenen</i>), die
<i>Sinfonia &#x2116;1 in C-Dur</i> von Muzio Clementi (1752-1832) und
das <i>Concertante &#x2116;1 in G-Dur</i> von Louis Spohr (1784-1859)
f&uuml;r Violine (<span class="who">Nicole Frei</span>),
Harfe (<span class="who">Lindsay Buffington</span>) und Orchester.
<a href="archiv/jk2018-flyer.pdf">Programm</a> &sdot;
<a href="archiv/jk2018-werke.html">Hinweise zu den Werken</a> &sdot;
<a href="press/20181115-rigipost.pdf">Rezension in der Rigipost</a></p>

<p>2. September 2018, Kirche Goldau<br/>
Zur <span class="what">Chilbi</span> in Goldau spielten wir mit dem
Kirchenchor Teile aus Marc-Antoine Charpentiers <i>Te Deum</i>.</p>

<p>10. Juni 2018, Kirche Goldau<br/>
Am <span class="what">Herzjesufest</span> und zu <span class="what">100
Jahre</span> <span class="who">Kirchenchor Goldau</span> interpretieren
wir gemeinsam die <i>Missa gratias agimus tibi</i> in D
von Jan Dismas Zelenka. Der Chor l&auml;dt im Anschluss
zum Ap&eacute;ro im Zentrum Eichmatt.</p>

<p>1. April 2018, Kirche Goldau<br/>
Zu <span class="what">Ostern</span> spielen wir mit dem
<a href="http://www.kirchenchor-goldau.ch">Kirchenchor Goldau</a>
die Messe Nr. 2 G-Dur von Schubert (D 167).</p>

<hr>

<p>12. November 2017, Kirche Ibach<br/>
19. November 2017, Kirche Goldau<br/>
Zum <span class="what">Jahreskonzert 2017</span> spielt das IEG
die Ouverture zu Gioacchino Rossinis Oper <i>Die Italienerin in
Algier</i>, Louis Joseph Ferdinand H&eacute;rolds zweite Symphonie
in D-dur, sowie das Konzert f&uuml;r zwei Harfen und Orchester von
Elias Parish Alvars mit den Solistinnen <span class="who">Lindsay
Buffington</span> und <span class="who">Selina Cuonz</span>.
<a href="archiv/jk2017-flyer.pdf">Programm</a> &sdot;
<a href="press/20171123-rigipost.pdf">Rezension in der Rigipost</a> &sdot;
<a href="http://sylphe.ch/hs2/">Noten H&eacute;rold</a></p>

<p>9. September 2017, Kirche Goldau<br/>
<span class="what">Chilbi</span> in Goldau: wir spielen
zur Messe mit dem Kirchenchor Teile von Marc-Antoine
Charpentiers <i>Te Deum</i>.</p>

<p>4. Juni 2017, Kirche Goldau<br/>
An <span class="what">Pfingsten</span> spielen wir mit dem
Kirchenchor zum Gottesdienst Schuberts Messe in G-Dur (D 167).</p>

<p>16. April 2017, Kirche Goldau<br/>
Zur <span class="what">Ostermesse</span> spielen wir mit
dem Kirchenchor die <i>Spatzenmesse</i> von Mozart (KV 220).</p>

<hr>

<p>13. November 2016, Kirche Goldau<br/>
20. November 2016, Kirche Ibach<br/>
Zum <span class="what">Jahreskonzert 2016</span> spielt das IEG
mit dem Cellisten <span class="who">Andreas Ochsner</span> das
Cellokonzert Nr. 2 in d-Moll von Anton Rubinstein. Weiter war
zu h&ouml;ren die Ouverture zu Gioachino Rossinis Oper Tancredi
sowie Muzio Clementis Sinfonie Nr. 1 in B-Dur.
<a href="archiv/jk2016-flyer.pdf">Programm</a></p>

<p>4. September 2016, Kirche Goldau<br/>
<span class="what">Chilbi</span> in Goldau: wir spielen
zur Messe Haydns Kleine Orgelsolomesse.</p>

<p>27. M&auml;rz 2016, Kirche Goldau<br/>
Wir spielen zur <span class="what">Ostermesse</span>
mit dem Kirchenchor Goldau.</p>

<hr>

<p>15. November 2015, Kirche Goldau<br/>
22. November 2015, Kirche Ibach<br/>
Zum <span class="what">Jahreskonzert 2015</span> spielt das IEG
mit der Harfenistin <span class="who">Lindsay Buffington</span>
das Harfenkonzert von Martin Pierre d'Alvimare und weiter die
Ouverture zum <i>Kalifen von Bagdad</i> von Fran&ccedil;ois-Adrien
Boieldieu sowie die <i>Symphonie Nr. 1 in g-moll</i>
von Etienne Nicolas M&eacute;hul.
<a href="archiv/jk2015-flyer.pdf">Programm</a> &sdot;
<a href="press/20151117-bote.jpg">Rezension Bote</a> &sdot;
<a href="press/20151126-rigipost.pdf">Rezension Rigipost</a></p>

<p>6. September 2015, Kirche Goldau<br/>
<span class="what">Chilbi</span> in Goldau: wir spielen
zur Messe mit dem Kirchenchor.</p>

<hr>

<p>16. November 2014, Kirche Goldau<br/>
23. November 2014, Kirche Ibach<br/>
<span class="what">Jubil&auml;umskonzert 40 Jahre IEG.</span>
Zusammen mit Bl&auml;sern und den Solisten
<span class="who">Nicole Frei</span> und
<span class="who">Andreas Ochsner</span> spielten wir
Michael Haydns Sinfonie in D-Dur,
Fran&ccedil;ois Joseph Gossecs Sinfonie in Es-Dur,
Maurice Ravels <i>Pavane pour une infante d&eacute;funte</i>,
sowie Camille Saint-Sa&euml;ns <i>La Muse et le Po&egrave;te</i>.
<a href="archiv/jk2014-flyer.pdf">Programm</a></p>

<p>1. November 2014, Kirche Goldau<br/>
Wir spielten zur <span class="what">Allerheiligen-Messe</span>
mit dem Kirchenchor Goldau.</p>

<p>13. September 2014, Goldau<br/>
20. September 2014, H&uuml;nenberg<br/>
Das IEG spielt aus Haydn's Sinfonia Nr. 24 mit <span class="who">Willy
Bollier</span> an der Fl&ouml;te, die zwei Mozart-Notturni “Unter den
Liebenden” (KV549) und “Naht nun die Abschiedsstunde” (KV436) mit den
<span class="who">Amici del Canto</span>, sowie Mozart's
<span class="what">Pantalon und Colombine</span> (KV446), erz&auml;hlt
von <span class="who">Osy Zimmermann</span> und illustriert von
<span class="who">Istvàn Kardos</span>.
<a href="archiv/pc2014-flyer.pdf">Programm</a> &sdot;
<a href="press/20140918-rigipost.html">Rezension in der Rigipost</a>
</p>

<hr>

<p>10. November 2013, Kirche Goldau<br/>
17. November 2013, Kirche Ibach<br/>
Zum <span class="what">Jahreskonzert 2013</span> spielt das IEG
mit den Solisten <span class="who">Willy Bollier</span> (Querfl&ouml;te),
<span class="who">Sabine Moser</span> (Harfe) und
<span class="who">Andreas Ochsner</span> (Violoncello)
Mozarts <i>Konzert in C f&uuml;r Fl&ouml;te, Harfe und Orchester</i>
(KV299), die Ouverture zu Boieldieus <i>Le Petit Chaperon Rouge</i>
sowie Tschaikowskis <i>Rokoko-Variationen</i> op. 33.
<a href="archiv/jk2013-flyer.pdf">Programm</a></p>

<hr>

<p>11. November 2012, Kirche Goldau<br/>
18. November 2012, Kirche Ibach<br/>
Zum <span class="what">Jahreskonzert 2012</span> spielt das IEG mit
den Solistinnen <span class="who">Franziska Ochsner</span> (Querfl&ouml;te)
und <span class="who">Christa Schneider</span> (Klarinette)
die <i>Hebriden-Ouverture</i> von Felix Menselssohn, die
<i>Sinfonie f&uuml;r Klarinette und Streicher</i> von Giacomo Meyerbeer
und das <i>Konzert in D-Dur für Flöte und Orchester</i> von Carl Reinecke.
<a href="archiv/jk2012-flyer.pdf">Programm</a> &sdot;
<a href="archiv/jk2012-werke.html">Hinweise zu den Werken</a> &sdot;
<a href="press/20121114-bote.png">Rezension im Boten</a> &sdot;
<a href="press/20121115-rigipost.png">Rezension in der Rigipost</a>
</p>

<p>2. September 2012, Kirche Goldau<br/>
Das IEG spielt Mozart's <span class="what">Spatzenmesse</span>
zusammen mit dem Kirchenchor Goldau.</p>

<p>8. April 2012, Kirche Goldau<br/>
Das IEG spielt zum <span class="what">Ostergottesdienst</span>
Vivaldi's Gloria zusammen mit dem Kirchenchor Goldau.</p>

<p>29. Januar 2012, Kloster Frauenthal<br/>
<span class="what">Jubelkl&auml;nge im Kloster Frauenthal.</span>
Das Instrumental-Ensemble Goldau musizierte mit dem Doppelquartett
&quot;Amici del Canto&quot; unter der Leitung von Letizia Zaugg-De
Nicol&agrave; in einem feierlichen Gottesdienst anl&auml;sslich
eines Klosterjubil&auml;ums in Frauental bei Cham.<br/>
Aufgef&uuml;hrt wurde die Missa brevis in G und das Andante f&uuml;r
Fl&ouml;te und Orchester in C Dur von Wolfgang Amadeus Mozart.
Zu Beginn des Gottesdienstes erklang das Ave Maria f&uuml;r Fl&ouml;te
und Orgel von Franz Schubert. Zur Gabenbereitung sang der Chor das
Ave Verum von Mozart a capella.<br/>
Solist an der Fl&ouml;te war Willy Bollier, die Orgel spielte Edwin Weibel.
Es war ein begl&uuml;ckendes Erlebnis f&uuml;r die Ordensfrauen,
die Musizierenden und die zahlreichen Gl&auml;ubigen in der voll
besetzten Klosterkirche.</p>

<hr>

<p>13. November 2011, Kirche Goldau<br/>
20. November 2011, Kirche Ibach<br/>
<span class="what">Jahreskonzert 2011</span> mit den Solisten
<span class="who">Nicole Frei</span> (Violine) und
<span class="who">Kurt Jakob R&uuml;etschi</span> (Blockfl&ouml;te)
und Werken von Weber, Hammerschmidt, Telemann und Tschaikowsky.
<a href="archiv/jk2011-flyer.pdf">Programm</a> &sdot;
<a href="archiv/jk2011-werke.html">Hinweise zu den Werken</a> &sdot;
<a href="press/20111117-rigipost.png">Rezension Rigipost</a> &sdot;
<a href="press/20111122-bote.png">Rezension Bote</a></p>

<hr>

<p>14. November 2010, Kirche Ibach<br/>
21. November 2010, Kirche Goldau<br/>
<span class="what">Jahreskonzert 2010</span>
mit der Ouverture zur Oper <i>La Dame Blanche / Die weisse Dame</i>
von François Adrien Boieldieu, die <i>Sinfonie in c-moll</i>
von Friedrich Witt, sowie das <i>3. Concerto de violon in b-moll</i>
op. 61 von Camille Saint-Saëns mit <span class="who">Nicole Frei</span>
an der Violine.
<a href="archiv/jk2010-flyer.pdf">Programm</a> &sdot;
<a href="archiv/jk2010-werke.html">Hinweise zu den Werken</a></p>

<p>19. Juni 2010, Mythenpark<br/>
<span class="what">Sommerserenade</span> im Mythenpark:
 eine <b>Heitere Ode an die Liebe</b> zusammen mit den
 <span class="who">Amici del Canto</span> (Goldau/Walchwil).
 <a href="archiv/serenade2010.html">Programm</a></p>

<hr>

<p>14. November 2009, Kirche Ibach<br/>
15. November 2009, Kirche Goldau<br/>
<span class="what">Jahreskonzert 2009</span> mit der Solistin
<span class="who">Doris Bertschinger</span> (Akkordeon)
und Werken von Josef Hayden, Michail Glinka und Hugo Herrmann.
<a href="archiv/jk2009-flyer.pdf">Programm</a> &sdot;
<a href="archiv/jk2009-werke.html">Hinweise zu den Werken</a></p>

<p>6. September 2009, Kirche Goldau<br>
Zur <span class="what">100-Jahr-Feier der Pfarrkirche Goldau</span>
spielt das IEG Mozart's <b>Kr&ouml;nungsmesse</b> mit den
Kirchench&ouml;ren von Arth und Goldau.</p>

<p>28. Juni 2009, Hofmatt Arth<br>
Ein <span class="what">Nachmittagskonzert</span> im Alters- und Pflegeheim
Hofmatt mit unterhaltsamer Musik von Johann Strauss, Enrico Toselli,
J.N. Hummel und weiteren.</p>

<hr>

<p>24. Dezember 2008, Kirche Goldau<br>
Zur <span class="what">Christmette</span> spielt das IEG
mit dem C&auml;cilienchor.</p>

<p>7. Dezember 2008, Altersheim Frohsinn Oberarth<br>
Das IEG spielt zur <span class="what">Adventsfeier</span>
im Altersheim Frohsinn in Oberarth.</p>

<p>16. November 2008<br/>
23. November 2008<br/>
<span class="what">Jahreskonzert 2008</span> mit
der <i>Ouverture im italienischen Stil in D-Dur</i> von Franz Schubert,
der <i>Serenade für Streichorchester</i> op. 20 von Edward Elgar,
den <i>Antiche Danze Suite I</i> von Ottorino Respighi, sowie
<i>Bridge of Light</i> für Viola und Orchester von Keith Jarrett
mit <span class="who">Stefan Auf der Maur</span> an der Viola.
<a href="archiv/jk2008-werke.html">Hinweise zu den Werken</a></p>

<p>7. September 2008, Brunnen<br>
Das IEG spielt <span class="what">Salon-Musik</span> im <b>Restaurant
Pluspunkt</b> in Brunnen zu dessen 5-j&auml;hrigen Jubil&auml;um.
<!--11:00 bis 14:00-->
<a href="archiv/20080907-pluspunkt.html">Programm</a></p>

<p>17. August 2008, Kirche Goldau<br>
Zur Installation von <b>Pfarrer Ugo Rossi</b>
spielt das IEG aus dem <i>Te Deum</i> von Henry Purcell.</p>

<p>23. M&auml;rz 2008, Kirche Goldau<br>
Das IEG spielt zum <span class="what">Ostergottesdienst</span>
zusammen mit dem C&auml;cilienchor.</p>

<hr>

<p>11. November 2007, Pfarrkirche Goldau<br>
   18. November 2007, Pfarrkirche Ibach<br>
<span class="what">Jahreskonzert 2007</span>
mit <span class="who">Paul Frehner</span> (Horn, Alphorn und B&uuml;chel)
und <span class="who">Christa Schneider</span> (Klarinette).
Werke von Benjamin Britten, Georg Benda, Wolfgang Amadeus
Mozart, Paul Frehner, und Ignaz Josef Pleyel.
<a href="archiv/jk2007-flyer.pdf">Programm</a></p>

<p>8. April 2007, Pfarrkirche Goldau<br>
Das IEG spielt zur <span class="what">Ostermesse</span>
zusammen mit dem C&auml;cilienchor.</p>

<hr>

<p>24. Dezember 2006, Pfarrkirche Goldau<br>
Das IEG spielt zur <span class="what">Christmette</span>
zusammen mit dem C&auml;cilienchor.</p>

<p>18. November 2006, Pfarrkirche Goldau<br>
   19. November 2006, Pfarrkirche Ibach<br>
<span class="what">Jahreskonzert 2006</span> mit Werken
von Raffaele D'Alessandro, Joseph Eybler, Wolfgang Amadeus Mozart
und Maurice Ravel, sowie Lieder aus Korea
mit <span class="who">Soon-Kee Woo</span> (Bariton)
und <span class="who">Arthur Ulrich</span> (Saxophon).
<a href="archiv/jk2006-plakat.pdf">Plakat</a> &sdot;
<a href="archiv/jk2006-flyer.pdf">Programm</a> &sdot;
<a href="archiv/jk2006-werke.html">Hinweise zu den Werken</a></p>

<p>2. September 2006<br>
Gedenkfeier <span class="what">200 Jahre Bergsturz Goldau</span>
mit Spiel des IEG von 11:30 bis 12:15 Uhr.
<a href="archiv/20060902.shtml">Programm</a></p>

<p>24. Juni 2006<br>
Das IEG und der <span class="who">M&auml;nnerchor Goldau</span>
inszenieren eine <span class="what">Serenade mit Ohrw&uuml;rmern</span>
aus Smetanas verkaufter Braut, den ungarischen T&auml;nzen von Brahms,
Hoffmanns Erz&auml;hlungen und vielem mehr.
<a href="archiv/20060624.pdf">Programm</a></p>

<hr>

<p>Weihnacht 2005, Kirche Goldau<br>
Zur <span class="what">Christmette</span> spielen wir die
Pastoralmesse von Karl Kempter (1819-1871) zusammen mit dem
Kirchenchor unter dessen neuer Dirigentin Esther Rickenbacher-Bader.</p>

<p>13. November 2005, Pfarrkirche Goldau<br>
   20. November 2005, Pfarrkirche Ibach<br>
<span class="what">Jahreskonzert 2005</span>
mit der <i>Symphonie Nr. 101 in D-Dur “Die Uhr”</i> von Joseph Haydn,
dem <i>Magnificat</i> für Chor und Orchester von Giovanni Battista
Sammartini mit den <span class="who">Amici del Canto</span>
und das <i>Concerto in E Minor</i> op. 85 für Violoncello und Orchester
von Edward Elgar mit <span class="who">Andreas Ochsner</span> am Cello.
<a href="archiv/20051113-flyer.pdf">Programm</a> &sdot;
<a href="archiv/20051113-plakat.pdf">Plakat</a> &sdot;
<a href="archiv/jk2005-werke.html">Hinweise zu den Werken</a></p>

<p>Ostern 2005, Kirche Goldau<br>
Zur <span class="what">Ostermesse</span> spielt das IEG mit dem
Kirchenchor Mozart's <i>Orgelsolomesse in C</i> (KV259) und
das <i>Halleluja</i> aus Händels Oratorium <i>der Messias</i>.</p>

<hr>

<p>Weihnacht 2004, Kirche Goldau<br>
Der Kirchenchor und das IEG spielen die <i>Missa Brevis in F
(Jugendmesse)</i> von Joseph Haydn, die <i>Kirchensonate in F</i>
(KV244) von Mozart, und <i>Lauft, ihr Hirten, allzugleich</i> (nur
Presto, Recitativo, Allegro) von Michael Haydn (Bruder Joseph's).</p>

<p>14. November 2004, Kirche Goldau<br>
20. November 2004, Kirche Walchwil<br>
21. November 2004, Kirche Ibach<br>
<span class="what">Jubiläumskonzert 30 Jahre IEG</span>
mit <span class="who">Paul Frehner</span> (Fagott),
<span class="who">Roman Walker</span> (Bariton) und
<span class="who">Urs Mattenberger</span> (Bandoneon) und
den Werken <i>Quintett F-Dur</i> für Fagott und Streicher,
<i>Auf verwachsenem Pfade</i> von Leoš Janáček,
<i>Biblische Lieder</i> von Antonín Dvořák und dem
<i>Tango lungo</i> (Konzert) für Bandoneon und Orchester
von Raúl Garello.</p>

<hr>

<p>16. November 2003, Kirche Goldau<br>
22. November 2003, Kirche Ibach<br>
23. November 2003, Ev. ref. Kirche Küssnacht<br>
<span class="what">Abendmusik</span> mit
<span class="who">Elisabeth Egle Gilardoni</span> (Sopran) und
<span class="who">Andreas Ochsner</span> (Violoncello).
Diverse Arien aus Opern von Georg Friedrich Händel, die
Symphonie in D-Dur “La Chasse” von Antonio Rosetti, sowie
das Konzert für Violoncello und Orchester von Edouard Lalo.


{:foot.tmpl}
