<!--End: Content-->
</td></tr>
<tr><td><font size="-1">Website by ujr<br>
 hosted by Xilab<br>
 modif {YEAR}-{MONTH<10?0:}{MONTH}-{DAY<10?0:}{DAY}</font></td>
<td align="center"><p><hr></p>
 <p>{SECTION=home?Startseite:<a href="index.html">Startseite</a>}
  | {SECTION=about?&Uuml;ber das IEG:<a href="about.html">&Uuml;ber das IEG</a>}
  | {SECTION=auf?Auftritte:<a href="auftritte.html">Auftritte</a>}
  | {SECTION=mit?Mitspielen:<a href="mitspielen.html">Mitspielen</a>}
  | {SECTION=proben?Proben:<a href="proben.html">Proben</a>}
  | {SECTION=press?Presse:<a href="press.html">Presse</a>}
  | {SECTION=donor?G&ouml;nner:<a href="goenner.html">G&ouml;nner</a>}</p>
</td></tr>
</table>
{:sccode.txt}{undefined?:\
}</body>
</html>
