{SECTION=donor}{:head.tmpl}
<h1>G&ouml;nner des IEG</h1>

<p>F&uuml;r unsere Konzerte d&uuml;rfen wir immer wieder
 auf Spenden und die Unterst&uuml;tzung verschiedener
 G&ouml;nner und Sponsoren z&auml;hlen.
 <em>Herzlichen Dank!</em>
 Unterst&uuml;tzen auch Sie das Instrumental-Ensemble Goldau!
 G&ouml;nner ab Fr 100 werden im Programmheft aufgef&uuml;hrt
 und erscheinen f&uuml;r ein Jahr auf dieser Webseite,
 ab Fr 300 und auf Wunsch auch mit Logo und Link.
 <a href="mailto:ursjakob@gmail.com">Urs-Jakob R&uuml;etschi</a>
 freut sich auf Ihr E-Mail.</p>

<h3>Aktuell unterst&uuml;tzen uns:</h3><!--2020-->
<ul class="sponsors">
<li>Amstad Käthy, Goldau</li>
<li>Amt für Kultur, Kulturförderung Kanton Schwyz</li>
<li>Annen Holzbau AG, Goldau</li>
<li>Brusa Bauunternehmung AG, Steinen</li>
<li>Bürgler Beda, Goldau</li>
<li>Contratto-Rickenbacher Guido, Arth</li>
<li>Elbatech AG, Ibach</li>
<li>ERDA Rigi GmbH, Arth</li>
<li><a href="http://www.fidura.ch/">Fidura Treuhand AG</a>, Zug</li>
<li>Freizeitkommission der Gemeinde Arth, Arth</li>
<li>Hodler Bernhard, Hünenberg</li>
<li>Kaufmann-Inderbitzin René, Goldau</li>
<li>Keiser Autospritzwerk AG, Goldau</li>
<li>Keiser-Suter Martha, Goldau</li>
<li><a href="http://www.sz.ch/">Kulturf&ouml;rderung Kanton Schwyz</a></li>
<!-- Bildungsdepartement / Amt f"ur Kultur / Kulturf"orderung -->
<li>Küng Urs, Physiotherapie, Arth</li>
<li>Dr. Helmut Meier-Föllmi, Goldau</li>
<li>Guido Meier-Koch, Steinerberg</li>
<li>Elektro Ottinger AG, Goldau</li>
<li>Pfenniger Josef, Goldau</li>
<li><a href="http://www.reprotec.ch/">Reprotec AG</a>,
 Reprographie und Druck, Cham</li>
<li>Schmid Albert und Irma, Arth</li>
<li>Schmid Ceramik AG, Hünenberg</li>
<li>Stiftung Carl und Elise Elsener-Gut, Schwyz</li>
<li>Sparkasse Schwyz AG, Schwyz</li>
<li><a href="http://www.szkb.ch/">Schwyzer Kantonalbank</a>, Schwyz</li>
<li>Syfrig Armin Innenausbau, Affoltern</li>
<li>Transit-Garage Müller AG, Goldau</li>
<li>Richard und Agnes Wicki, Hünenberg</li>
<li>Zentrum für aktives Alter, Frohsinn AG, Oberarth</li>
</ul>

<p id="logos" style="line-height:300%">
<a href="http://www.sz.ch/">
<img src="goenner/kanton_schwyz_kulturfoerderung.png" width=260
     alt="Logo Kanton Schwyz Kulturf&ouml;rderung"/></a>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://www.reprotec.ch/">
<img src="goenner/ReprotecLogo2014.png" alt="Logo Reprotec AG"/></a>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://www.fidura.ch/">
<img src="goenner/FiduraLogo2017.png" alt="Logo Fidura"/></a>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://www.szkb.ch/">
<img src="goenner/LogoSZKB259x56.png" alt="Logo SZKB"/></a>
</p>
<p>&nbsp;</p>

<p><a href="archiv/goenner.html">G&ouml;nner und Sponsoren
 fr&uuml;herer Jahre</a></p>
{:foot.tmpl}
