{SECTION=donor}{:head.tmpl}
<h1>G&ouml;nner des IEG</h1>

<p>F&uuml;r unsere Konzerte durften wir immer wieder
 auf Spenden und die Unterst&uuml;tzung verschiedener
 G&ouml;nner und Sponsoren z&auml;hlen.
 <em>Herzlichen Dank!</em>
 <!--Unterst&uuml;tzen auch Sie das Instrumental-Ensemble Goldau!
 G&ouml;nner ab Fr 100 werden im Programmheft aufgef&uuml;hrt
 und erscheinen f&uuml;r ein Jahr auf dieser Webseite,
 ab Fr 300 und auf Wunsch auch mit Logo und Link.
 <a href="mailto:ursjakob@gmail.com">Urs-Jakob R&uuml;etschi</a>
 freut sich auf Ihr E-Mail.--></p>


<!--<p id="logos" style="line-height:300%">
<a href="http://www.sz.ch/">
<img src="goenner/kanton_schwyz_kulturfoerderung.png" width=260
     alt="Logo Kanton Schwyz Kulturf&ouml;rderung"/></a>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://www.reprotec.ch/">
<img src="goenner/ReprotecLogo2014.png" alt="Logo Reprotec AG"/></a>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://www.fidura.ch/">
<img src="goenner/FiduraLogo2017.png" alt="Logo Fidura"/></a>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://www.szkb.ch/">
<img src="goenner/LogoSZKB259x56.png" alt="Logo SZKB"/></a>
</p>-->
<p>&nbsp;</p>

<p><a href="archiv/goenner.html">G&ouml;nner und Sponsoren
 fr&uuml;herer Jahre</a></p>
{:foot.tmpl}
