<!DOCTYPE html>
<html><head><title>Instrumental Ensemble Goldau</title>
<meta charset="utf-8">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="author" content="Urs-Jakob Ruetschi">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1718886703035131"
        crossorigin="anonymous"></script>
</head><body><!-- hand-crafted html ;-) -->

<table border=0 cellpadding=5 cellspacing=0><tr>
<td valign="top"><p><a href="index.html"><img src="images/logol.png"></a></p>
 <br/><br/><p>
 &nbsp;<img src="images/noten.png" align="middle">&nbsp;
 {SECTION=about?&Uuml;ber das IEG:\
 <a href="about.html">&Uuml;ber das IEG</a>}<br>
 &nbsp;<img src="images/noten.png" align="middle">&nbsp;
 {SECTION=auf?Auftritte:\
 <a href="auftritte.html">Auftritte</a>}<br>
 &nbsp;<img src="images/noten.png" align="middle">&nbsp;
 {SECTION=mit?Mitspielen:\
 <a href="mitspielen.html">Mitspielen</a>}<br>
 &nbsp;<img src="images/noten.png" align="middle">&nbsp;
 {SECTION=proben?Probenplan:\
 <a href="proben.html">Probenplan</a>}<br>
 &nbsp;<img src="images/noten.png" align="middle">&nbsp;
 {SECTION=press?Presse:\
 <a href="press.html">Presse</a>}<br>
 &nbsp;<img src="images/noten.png" align="middle">&nbsp;
 {SECTION=donor?G&ouml;nner:\
 <a href="goenner.html">G&ouml;nner</a>}<br>
 &nbsp;<img src="images/noten.png" align="middle">&nbsp;
 {SECTION=member?F&uuml;r Mitglieder:\
 <a href="members/index.html">F&uuml;r Mitglieder</a>}<br>
 &nbsp;</p></td>
<td valign="top">
 <p><a href="index.html"><img src="images/logor.png"></a></p>
<!--Begin: Content-->
