{SECTION=home}{:head.tmpl}
<h1><!--Willkommen beim<br/>-->
 Instrumental Ensemble Goldau</h1>

<p>Das Instrumental-Ensemble <em>hat sich aufgel&ouml;st.</em></p>

<p>&Uuml;ber 40 Jahre standen rund zwanzig Laienmusiker unter der Leitung
von Letizia Zaugg im Dienste der Begeisterung f&uuml;r die Musik,
erfreuten sich intensiver Proben und sch&ouml;ner Auftritte.</p>

<p>Wir <em>danken ganz herzlich</em> unserem gesch&auml;tzten Publikum,
unseren treuen G&ouml;nnern und Sponsoren, der Leiterin Letizia Zaugg,
den zahlreichen Solisten und Zuz&uuml;gern, dem Kirchenchor Goldau,
sowie der Gemeinde Goldau und allen, die l&auml;nger oder k&uuml;rzer
bei uns mitgespielt haben.</p>

<p><b>Kontakt:</b><br>
 <!--Instrumentalensemble Goldau, 6410 Goldau<br> E-Mail-->
 <a href="mailto:esther_bueeler@yahoo.com">esther_bueeler@yahoo.com</a><!--,
 Tel 041 832 20 63<br>Bankverbindung: Schwyzer Kantonalbank,
 IBAN CH13 0077 7002 8494 3016 9--></p>
<!--<p>Beachten Sie auch unsere <a href="goenner.html">G&ouml;nner
 und Sponsoren</a>.</p>-->
{:foot.tmpl}
