{SECTION=home}{:head.tmpl}
<h1>Willkommen beim<br/>
 Instrumental Ensemble Goldau</h1>
<p>Seit 40 Jahren im Dienste der Begeisterung f&uuml;r die Musik:<br>
 Rund zwanzig Laienmusiker unter der Leitung von Letizia Zaugg.</p>

<!--<p><b>Liebe Musikfreunde,</b>
die Situation um das Corona-Virus hat uns sehr getroffen,
die Konzerte 2020 mussten abgesagt werden, und auch 2021
war kein regul&auml;rer Probebetrieb m&ouml;glich.
Wir danken Ihnen f&uuml;r Ihre Treue zum IEG und unseren
<a href="goenner.html">G&ouml;nnern</a> f&uuml;r ihre
Unterst&uuml;tzung. Wir freuen uns auf ein Wiedersehen!
Schauen Sie bei n&auml;chster Gelegenheit wieder vorbei.</p>-->

<!--<p><b>R&uuml;ckblick</b><br>
Sonntag, 17. April 2022, 09:00 Uhr,
Ostermesse in der Mirche Goldau mit dem Kirchenchor Goldau
und Mozarts <em>Missa brevis</em> (KV259) und nat&uuml;rlich
mit H&auml;ndels <em>Hallelujah</em>.<br>
Sonntag, 2. Januar 2022, 10:00 Uhr,
<a href="https://www.ref-arth-goldau.ch/veranstaltung/1359">
Wort &amp; Musik zum Neujahr</a> in der ref. Kirche Oberarth
mit Pfarrer Urs Heiniger und dem IEG.</p>-->

<!--<p><b>R&uuml;ckblick:</b><br>
Jahreskonzerte am 10.11. (Kirche Goldau) und am 17.11. (Kirche Ibach):
Fran&ccedil;ois-Adrien Boieldieu, Ouverture zur <i>Op&eacute;ra comique
&ldquo;Jean de Paris&rdquo;</i> (1812);
Carl Loewe: <i>Symphonie &#x2116; 2</i> in e-moll (1832; schweizerische
Erstauff&uuml;hrung anl&auml;sslich des 150. Todestages von Carl Loewe);
Robert Schumann: Cellokonzert in a-moll op. 129 (1850) mit Andreas Ochsner.
<a href="archiv/jk2019-flyer.pdf">Flyer</a> &sdot;
<a href="press/20191114-rigipost.pdf">Rezension in der Rigipost</a></p>-->

<p><b>Kontakt:</b><br>
 Instrumentalensemble Goldau, Sch&ouml;neggweg 44, 6410 Goldau<br> E-Mail
 <a href="mailto:esther_bueeler@yahoo.com">esther_bueeler@yahoo.com</a>,
 Tel 041 832 20 63<br>Bankverbindung: Schwyzer Kantonalbank,
 IBAN CH13 0077 7002 8494 3016 9</p>
<!--<p>Beachten Sie auch unsere <a href="goenner.html">G&ouml;nner
 und Sponsoren</a>.</p>-->
{:foot.tmpl}
