{SECTION=proben}{:head.tmpl}
<h1>Proben und Auftritte 2022</h1>

<p>Gem&auml;ss separater Ank&uuml;ndigung</p>

<!--<p><a href="#1st">1. Semester 2022</a>
 | <a href="#2nd">2. Semester 2022</a>
 | <a href="#preview">Termine 2022</a></p>-->


<!--<p>&nbsp;</b>
<h3 id="2nd">2. Semester</h3>
<table class="schedule">
<tbody>
<tr><td>Do</td><td>20. Aug</td><td>20:00</td><td>Schulhaus</td>
    <td>Werke</td></tr>
</tbody>
</table>
<hr>-->

<!--<p>&nbsp;</p>
<h3 id="preview">Termine 2022</h3>
<p><b>Anlass:</b><br>Tag, Datum, Zeit, Ort, etc.</p>-->

{:foot.tmpl}
